
<div class="animated slideInDown">
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<button id="myBtn">Add New Todo</button>
</div>
<div class="">
  <!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content animated bounceInDown">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>

    <form action="/dashboard" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          placeholder="Enter todo title"
        />
      </div>

      <div class="form-group">
        <label for="description">Title</label>
        <input
          type="text"
          id="description"
          name="description"
          class="form-control"
          placeholder="Enter todo description"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Add Todo</button>
    </form>
  </div>

</div>
  <div class="todos animated bounceInLeft">
    <h1>Your Todos</h1>
      <% rows.forEach(function(row) { %>
        <div class="todo">
        <a href="/delete/<%=row.id%>"><i style="font-size:25px; margin-right:10px; cursor:pointer" class="fa fa-trash"></i></a>
        <i class="fa fa-edit" style="font-size:25px; margin-right:10px; cursor:pointer"></i>
        <div>Title: <%= row.title %></div>
        <div style="text-align:right">Description: <%= row.description %></div>
        </div>
      <% }) %>
  </div>

</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
