<div class="">
  <div class="todos">
    <h1>Your Todos</h1>
    <div class="todo">
      <% rows.forEach(function(row) { %>
        <div><%= row.title %></div>
        <div><%= row.description %></div>
      <% }) %>
    </div>
  </div>

</div>
